solutions/TMobile/CanvasApps/crffc_orbituatnew_724ea_DocumentUri_src/pkgs/Wadl/GetSingleOptionSet.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetSingleOptionSet" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetSingleOptionSet" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_GetSingleOptionSet_OptionSetName_def" />
      <object name="ManualTriggerInput">
        <property name="GetSingleOptionSet_OptionSetName" type="string" />
      </object>
      <integer name="ResponseActionOutput_value_def_items_def_Value_def" />
      <string name="ResponseActionOutput_value_def_items_def_Label_def" />
      <object name="ResponseActionOutput_value_def_items_def">
        <property name="Value" type="integer" />
        <property name="Label" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_value_def_items_def" name="ResponseActionOutput_value_def" />
      <object name="ResponseActionOutput">
        <property name="value" typeRef="ResponseActionOutput_value_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GetSingleOptionSet_OptionSetName" path="/GetSingleOptionSet_OptionSetName" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>